*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;}
html{
    scroll-behavior: smooth}
body{
    font-family:"Raleway",sans-serif;
    background: white}
.container{
    scroll-snap-type:y mandatory;
    overflow-y:scroll;
    height:100vh;
    margin-top:0vh;
    position:sticky}
.header{
    height:7.5vh;
    padding:10px;
    overflow:hidden;
    background:rgb(2, 6, 68);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;}
section{
    width: 100%;
    height:100vh;
    margin: 0 0 10vh auto;
    display:flex;
    /* justify-content:center;
    align-items:center; */
    color:white;
    scroll-snap-align:start;
    position: sticky;
    top: 0;
    box-shadow: -5px -5px 20px rgba(0,0,0,0.4);
    margin-bottom: 0;
    padding: 5vmin;}
section:last-of-type{
    margin-bottom:0;}
.container::-webkit-scrollbar{
        display: none;}
.one{
    background-image:url('images/space1.jpg');
    background-repeat:no-repeat;
    background-size:cover;}
.two{
    background: linear-gradient(141deg,#000000 0%,#160064 25%,#2600af 40%,#160064 60%,#000000 90%);
    height:620vh;}

body {
  font-family: 'Lato', sans-serif;}

.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;}

@media screen and (max-height: 450px){      /*when max height is 450px*/
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;}}

  /*background: linear-gradient(141deg,#15d6c9 0%,#38a3d4 25%,#1e72c0 50%,#1a56da 75%);}*/

.Title {
margin-left: 100px;
margin-top: 100px;
font-size:150%;
position: relative;
}

.cards{
    margin-left: 150px;
    margin-top: 150px;
    position: relative;
}
.cardcontainer{
    background: linear-gradient(141deg,#7542ff 0%,#5213ff 25%,#2d00aa 50%,#18005c 75%);
    margin:0vh;
    padding:15px;
    width:40%;
    height:50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    color:white;
}
.textleft{
    padding:10px;
    width:70%;
    height:35vh;
    float:left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.picright{
    width:30%;
    padding-left:0px;
    padding-top:110px;
    float:right;
}
.imgright{
    height:40vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:10px;
}
.textright{
    padding:10px;
    width:70%;
    height:35vh;
    float:right;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.picleft{
    width:30%;
    padding-left:0px;
    padding-top:110px;
    float:left;
}
.imgleft{
    height:40vh;
    margin-left:-360px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:10px;
}