*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;}

html{scroll-behavior: smooth;}

body{
    font-family:"Raleway",sans-serif;
    background: white;}

.container{
    scroll-snap-type:y mandatory;
    overflow-y:scroll;
    height:100vh;
    margin-top:0vh;}

.header{
    height:7.5vh;
    padding:10px;
    overflow:hidden;
    background:rgb(2, 6, 68);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;}

section{
    width: 100%;
    height:100vh;
    margin: 0 0 10vh auto;
    display:flex;                       /* justify-content:center; align-items:center; */
    color:white;
    scroll-snap-align:start;
    position: sticky;
    top: 0;
    box-shadow: -5px -5px 20px rgba(0,0,0,0.4);
    margin-bottom: 0;
    padding: 5vmin;}

section:last-of-type{
    margin-bottom:0;}

.container::-webkit-scrollbar{
    display: none;}
    
.one{
    background-image:url('space1.jpg');
    background-repeat:no-repeat;
    background-size:cover;}

.two{
    background: linear-gradient(141deg,#15d6c9 0%,#38a3d4 25%,#1e72c0 50%,#1a56da 75%);}
    
body {
    font-family: 'Lato', sans-serif;}

.overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;}
      
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;}
      
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;}
      
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;}
      
@media screen and (max-height: 450px){      /*when max height is 450px*/
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;}}
      
/*background: linear-gradient(141deg,#15d6c9 0%,#38a3d4 25%,#1e72c0 50%,#1a56da 75%);}*/
      
.Title {
    margin-left: 150px;
    margin-top: 150px;
    font-size:150%;
    position: relative;}
      
    