*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;}
html{
    scroll-behavior: smooth;}
body{
    font-family:"Raleway",sans-serif;
    background: white}
.container{
    scroll-snap-type:y mandatory;
    overflow-y:scroll;
    height:100vh;
    margin-top:0vh;
    position:sticky}
.header{
    height:7.5vh;
    padding:10px;
    overflow:hidden;
    background:rgb(2, 6, 68);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;}
section{
    width: 100%;
    height:100vh;
    margin: 0 0 10vh auto;
    display:flex;
    /* justify-content:center;
    align-items:center; */
    color:white;
    scroll-snap-align:start;
    position: sticky;
    top: 0;
    box-shadow: -5px -5px 20px rgba(0,0,0,0.4);
    margin-bottom: 0;
    padding: 5vmin;}
section:last-of-type{
    margin-bottom:0;}
.container::-webkit-scrollbar{
        display: none;}
.one{
    background-image:url('images/space1.jpg');
    background-repeat:no-repeat;
    background-size:cover;}
.two{
    background: linear-gradient(141deg,#000000 0%,#160064 25%,#2600af 40%,#160064 60%,#000000 90%);
    height:620vh;}
.three{
    background: linear-gradient(141deg,#000000 0%,#160064 25%,#2600af 40%,#160064 60%,#000000 90%);
    height:100vh;}
body {
  font-family: 'Lato', sans-serif;}

.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;}

@media screen and (max-height: 450px){      /*when max height is 450px*/
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;}}

  /*background: linear-gradient(141deg,#15d6c9 0%,#38a3d4 25%,#1e72c0 50%,#1a56da 75%);}*/

.Title {
margin-left: 100px;
margin-top: 100px;
font-size:150%;
position: relative;
}

.cards{
    margin-left: 150px;
    margin-top: 150px;
    position: relative;
}
.cardcontainer{
    background: linear-gradient(141deg,#7542ff 0%,#5213ff 25%,#2d00aa 50%,#18005c 75%);
    margin:0vh;
    padding:15px;
    width:40%;
    height:50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    color:white;
}
.textleft{
    padding:10px;
    width:70%;
    height:35vh;
    float:left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.picright{
    width:30%;
    padding-left:0px;
    padding-top:110px;
    float:right;
}
.imgright{
    height:40vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:10px;
}
.textright{
    padding:10px;
    width:70%;
    height:35vh;
    float:right;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.picleft{
    width:30%;
    padding-left:0px;
    padding-top:110px;
    float:left;
}
.imgleft{
    height:40vh;
    margin-left:-360px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:10px;
}



a{
    text-decoration: none;}

  .button{
    display: inline-block;
    padding: 20px 50px;
    margin: 20px 0;
    position: relative;
    color: #ecf0f1;}
  
#button{
    color: #34495e;
    overflow: hidden;}
  
#button:before, #button:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #34495e;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;}
  
#button:after{
    bottom: 0 !important;
    top: auto !important;
    right: -100%;
    left: auto;}
  
#button:hover:before{
    left: 0;}
  
#button:hover:after{
    right: 0;}

input {position: absolute; display: none}

.menu {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;}

.btn {
    width: 90px;
    height: 90px;
    border-radius: 70px;
    position: absolute;
    overflow: hidden;
    cursor: pointer;}

.btn {
    background: #ECEFF1;
    font-size: 15px;
    display: box;
    display: flexbox;
    display: flex;
    box-pack: center;
    justify-content: center;
    box-align: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);}

.btn:not(:first-child) {
    opacity: 0;
    z-index: -2;
    transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
    transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);}

.btn:nth-child(2) {top:0px;transition-delay: 0s;transition-delay: 0s}

.btn:nth-child(3) {top:0px;left:0px;transition-delay: 0.1s;transition-delay: 0.1s}

.btn:nth-child(4) {left:0px;;transition-delay: 0.2s;;transition-delay: 0.2s}

.btn:nth-child(5) {top:0px;left:0px;transition-delay: 0.3s;transition-delay: 0.3s}

.btn:nth-child(6) {top:0px;transition-delay: 0.4s;transition-delay: 0.4s}

.btn:nth-child(7) {top:0px;left:0px;transition-delay: 0.5s;transition-delay: 0.5s}

.btn:nth-child(8) {left:0px;transition-delay: 0.6s;transition-delay: 0.6s}

.btn:nth-child(9) {top:0px;left:0px;transition-delay: 0.7s;transition-delay: 0.7s}

input#toggle:checked ~ #show-menu .btn:nth-child(2) {
    top:-150px;opacity:1;}

input#toggle:checked ~ #show-menu .btn:nth-child(3) {
    top:-100px;left:100px;opacity:1;}

input#toggle:checked ~ #show-menu .btn:nth-child(4) {
    left:150px;opacity:1;}

input#toggle:checked ~ #show-menu .btn:nth-child(5) {
    top :100px;left:100px;opacity:1;}

input#toggle:checked ~ #show-menu .btn:nth-child(6) {
    top:150px;opacity:1;}


input#toggle:checked ~ #show-menu .btn:nth-child(7) {
    top:100px;left:-100px;opacity:1;}

input#toggle:checked ~ #show-menu .btn:nth-child(8) {
    left:-150px;opacity:1;}

input#toggle:checked ~ #show-menu .btn:nth-child(9) {
    top:-100px;left:-100px;opacity:1;}

.menuBtn, .closeBtn {
    position: absolute;
    transition: all 0.3s ease;}

.closeBtn {
    transform: translateY(50px);
    opacity: 0;}

input#toggle:checked ~ #show-menu .btn .menuBtn {
    transform: translateY(-50px);
    opacity: 0;}

input#toggle:checked ~ #show-menu .btn .closeBtn {
    transform: translateY(0px);
    opacity: 1;}
    
i{
    font-weight: bold;
    font-size:125%;
    color:white;
    text-shadow: 1.5px 1.5px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }